body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: rgb(253, 103, 103);
}

#myCarousel img {
    height: 300px;
    width: 200px;
    margin: 35px;
}
.carousel-inner p{
    margin:50px;
    color: white;
    font-size: 20px;
}

